@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active{
    background-color:  rgba(0, 0, 0, 0.05);
    color: purple;
    
}
/* a.active::after{
    content: '@';
    font-weight: bolder;
    color: rgb(189, 91, 235);
    font-size: 25px;
    align-self: center;
    
} */

body{
    font-family: 'Inter',sans-serif;
    background-color: white;
}

.scrollbar-hide{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar{
    display: none;
}



